# Build output para di lumabas yung new changes lagi sa dll
**/bin/
**/obj/

# IDE/workspace
.vs/
.vscode/
*.user
*.suo

# Logs / temp
*.log
*.tmp

appsettings.json
appsettings.*.json
.env

# OS files
.DS_Store

# Test/coverage
TestResults/
coverage/